body{
    margin:0;
    font-family:arial;
    background-color:#121212;
    color: white;
}
nav{
    background-color: #1f1f1f;
    text-align: center;
    padding: 15px;
}
nav a {
    color:white;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    color:#00c3FF
}